{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h3>ToDo</h3>
                </div>
            </div>
        </div>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" class="p-3 shadow">
                {% csrf_token %}
                     <div class="form-group">
                          <input type="text" class="form-control" name="task" placeholder="enter your task">
                     </div><br>
                     <div class="form-group">
                          <input type="text" class="form-control" name="priority" placeholder="enter your priority">
                    </div><br>
                    <div class="form-group">
                        <input type="date" class="form-control" name="date">
                    </div><br>
                     <div class="form-group">
                          <input type="submit" class="btn btn-success">
                     </div>
                 </form>
            </div>
<!--            <div class="col-md-6">-->
<!--                {% for i in details %}-->
<!--                    <div class="shadow card">-->
<!--                         <div class="card-body">-->
<!--                            <h5 class="card-title">{{i.task}}</h5>-->
<!--                            <p class="card-text">{{i.priority}}</p>-->
<!--                             <p><h6>Completion date {{i.date}}</h6> </p>-->
<!--                            <a href="{% url 'todoapp:delete' i.id %}" class="btn btn-danger">delete</a>-->
<!--                            <a href="{% url 'todoapp:update' i.id %}" class="btn btn-primary">update</a>-->
<!--                        </div>-->
<!--                    </div><br>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <br>-->

        </div>
    </div>

{% endblock %}